.kw {
	display: none;
	}
    
.langen {
	color: white;
    background-color: black;
    display: inline;
    margin: 0 10px 0 0;
    border-radius: 5px;
}

.langkw {
	color: white;
    background-color: gray;
    display: inline;
    margin: 0 10px 0 0;
    border-radius: 5px;
}

.langkw:hover {
	color: white;
    background-color: black;
    cursor: crosshair;
}
