.kw {
	display: none;
	}
    
.langen {
	color: white;
    background-color: black;
	cursor: default;
}

.langen:hover {
	text-decoration: none;
}

.langen:visited {
	color: white;
}

.langkw {
	color: white;
    background-color: gray;
    border-radius: 5px;
}

.langkw:hover {
	color: white;
    background-color: black;
	cursor: crosshair;
text-decoration: none;
}

.langkw:visited {
	color: white;
    }
