---
layout: default
title: Merryn Davies-Deacon
---
<div class="en">	
<h1>Blog</h1>
	<ul class="posts">

	  {% for post in site.categories.blog %}
		{% if post.url %}
	    <li><span>{{ post.date | date: "%-d %B %Y" }}</span> » <a href="{{ post.url }}" title="{% if post.titleeng == "pass" %}
      {{ post.title }}
    {% else %}
      {{ post.titleeng }}
    {% endif %}">{% if post.titleeng == "pass" %}
      {{ post.title }}
    {% else %}
      {{ post.titleeng }}
    {% endif %}/a></li>
	  {% endif %}
		{% endfor %}
	</ul>
</div>

<div class="kw">	
<h1>Scryfow</h1>
	<ul class="posts">

	  {% for post in site.categories.blog %}
		{% if post.url %}
	    <li><span>{% assign m = post.date | date: "%-m" %}
{{ post.date | date: "%-d" }}
{% case m %}
  {% when '1' %}mis Genver
  {% when '2' %}mis Whevrel
  {% when '3' %}mis Meur’
  {% when '4' %}mis Ebrel
  {% when '5' %}mis Me
  {% when '6' %}mis Efen
  {% when '7' %}mis Gorefen
  {% when '8' %}mis Est
  {% when '9' %}mis Gwyngala
  {% when '10' %}mis Hedra
  {% when '11' %}mis Du
  {% when '12' %}mis Kevardhu
{% endcase %}
{{ post.date | date: "%Y" }}</span> » <a href="{{ post.url }}" title="{% if post.titlecorn == "pass" %}
      {{ post.title }}
    {% else %}
      {{ post.titlecorn }}
    {% endif %}">{% if post.titlecorn == "pass" %}
      {{ post.title }}
    {% else %}
      {{ post.titlecorn }}
    {% endif %}</a></li>
	  {% endif %}
		{% endfor %}
	</ul>
</div>
