<p>Sociolinguistic studies of Breton have typically posited the existence of a discrete
“new speaker” category, characterised as young, educated speakers who have learnt
the language in the context of formal schooling. These speakers are thought to use a
standardised, non-dialectal form of Breton, both by preference and as a result of
lacking access to the more diverse, dialectally fragmented varieties of traditional
speakers. Due to the association of this category with certain characteristics relating
to age, mobility, literacy and motivation, it can be expected, if these stereotypes are
true, that users of Breton on social media will overwhelmingly come from this
group. The Breton found online, and data about its users, can thus be examined to
determine a. whether these speakers conform to stereotypes that suggest their
language is highly standardised and “purist”, and b. whether the two groups of
speakers can indeed be separated so strictly based on sociolinguistic criteria such as
  age and method of acquisition.</p>
<p>This paper focuses on the first of these questions, presenting findings from doctoral
research focusing on the largest Facebook group for Breton speakers, <i>Facebook e
    brezhoneg</i>. It highlights some specificities of the data from this group, compared
with traditional media contexts examined as part of the same research. These
include in particular the use of certain non-standard vocabulary, including both
borrowings from French and English, and overly “purist” neologisms; as well as
highly performative and ludic uses of language designed to show off users’ high level
of competence in a variety of languages. Suggestions will be made regarding the
relevance of these practices to the new/traditional speaker binary, and to the role
that social media play in renegotiating how Breton speakers balance concerns of
communication and identity as the language revitalisation movement continues to
  evolve.</p>
