<h2 class="en">Theses</h2>
<h2 class="kw">Scrifow erel</h2>

<p class="bibentry"><b class="en">PhD thesis, 2020</b><b class="kw">Scrif doctouriethel, 2020</b> <a href="{{ site.baseurl }}/site/publications/pdf/phd.pdf">New speaker language and identity: Practices and perceptions around Breton as a regional language of France</a> (<span class="en">Queen’s University, Belfast</span><span class="kw">Pednscol an Vyghternes, Béal Feirste</span>)</p>

<p class="bibentry"><b class="en">MA by research thesis, 2016</b><b class="kw">Scrif menestroniethel, 2016</b> <a href="{{ site.baseurl }}/site/publications/pdf/master.pdf">Orthographies and ideologies in revived Cornish</a> (<span class="en">University of York</span><span class="kw">pednscol Evrok</span>)</p>
