---
layout: default
title: Merryn Davies-Deacon
---
<h1>CV</h1>
<div class="en">
    <p><i>Online CV last updated 18/12/18. To view the latest version in PDF format [without hyperlinks] <a href="https://drive.google.com/uc?authuser=0&id=14fYWdkHq1qjdewM1tVFqj3-ntJiapml4">click here</a>.</i></p>
    <h2>Research profile</h2>
    <p>My work is in sociolinguistics, with particular focus on the southern Brythonic Celtic languages (Cornish and Breton), although I have also worked on Romance languages. My research interests include language ideology, language standardisation, languages in the media (particularly new media), language and identity, orthography, and lexical variation. For my current PhD I am investigating the lexicon of Breton in media domains and how this intersects with stereotypes about &lsquo;new speakers&rsquo; of the language.</p>
    <h2>Education</h2>
    <p class="bibentry"><strong>2016&ndash;present</strong> PhD candidate (French), Queen’s University, Belfast</p>
    <blockquote class="noit">
        <p><i>Thesis:</i> &lsquo;New speaker&rsquo; identity: Perceptions and practices in a French context
            <br/><i>Supervisors:</i> Prof Janice Carruthers and Prof Mícheál Ó Mainnín
            <br/>Part of the Open World Research Initiative, <a href="http://meits.org">Multilingualism: Empowering Individuals, Transforming Societies</a>, a multi-university AHRC-funded project led by Prof Wendy Ayres-Bennett at the University of Cambridge</p>
    </blockquote>
    <p class="bibentry"><strong>2015&ndash;16</strong> MA by research (Linguistics), University of York</p>
    <blockquote class="noit">
        <p><i>Thesis:</i> <a href="http://etheses.whiterose.ac.uk/16731">Orthographies and ideologies in revived Cornish</a>
            <br/><i>Supervisor:</i> Dr Carmen Llamas</p>
    </blockquote>
    <p class="bibentry"><strong>2011&ndash;15</strong> BA (French and Linguistics; first class), The Queen&rsquo;s College, University of Oxford</p>
    <p class="bibentry"><strong>2004&ndash;11</strong> Truro High School for Girls, Truro: A-levels in French (A*), Latin (A*), Mathematics (A*), Music (A); 11 GCSEs at A/A*</p>
    {% include publicationlist.html %}
    <h2>Teaching experience</h2>
    <p><strong>2018–present</strong> Teacher at Queen’s University Belfast language centre</p>
    <ul>
        <li>Teaching adult-education-style beginners’ classes in Cornish (2018) and Latin (2018–present)</li>
        <li>Developing and adapting materials, particularly for the Cornish course</li>
    </ul>
    <p><strong>2017&ndash;18</strong> Seminar teaching, <i>Français pratique 2</i> (first-year grammar module), Queen’s University, Belfast</p>
    <ul class="dummy">
        <li>Delivered small-group teaching (up to 25 students) based on existing module specifications, focusing on advanced aspects of grammar</li>
        <li>Marked translation coursework and gave feedback to students</li>
    </ul>
    <p><strong>2013&ndash;14</strong> Assistante de langue anglaise, Lycée Paul Sérusier, Carhaix, France</p>
    <ul>
        <li>Planned and delivered lessons independently to groups of 4&ndash;15 pupils aged 14&ndash;19</li>
        <li>Focused mostly on oral expression (taught in English) and delivered extra after-school lessons on English grammar (taught in French)</li>
    </ul>
    {% include paperlist.html %}
    <h2>Additional relevant experience</h2>
    <p class="bibentry"><strong>2018–19</strong> Member of organising committee for <i>Crossing Boundaries in Language Teaching: Northern Ireland and Beyond</i></p>
    <ul>
        <li>Obtained funding (£250) from Linguistics Association of Great Britain</li>
        <li>Designed <a href="http://go.qub.ac.uk/ltni19">conference website</a></li>
    </ul>
    <p class="bibentry"><strong>2018</strong> Abstract reviewer for 3<sup>rd</sup> Pozna&#324; Conference of Celtic Studies</p>
    <p class="bibentry"><strong>2017&ndash;18</strong> Editorial work for the volume <i>Manual of Romance Sociolinguistics</i>, eds. Wendy Ayres-Bennett and Janice Carruthers, published by De Gruyter, 2018</p>
    <ul>
        <li>Translated segments and improved earlier translations to conform with an appropriate academic writing style</li>
        <li>Compiled indexes for the entire volume working from authors’ individual suggestions</li>
        <li>Proofread volume in order to ensure consistency in chapter texts and bibliographies among multiple authors</li>
    </ul>
    <p class="bibentry"><strong>2016</strong> Freelance translation and proofreading remote work</p>
    <ul>
        <li>Worked for a variety of internationally-based clients</li>
        <li>Translated technical content on a range of subjects including antiques, technology, and anthropology</li>
        <li>Proofread English text under extremely tight deadline to ensure conformance with specified styles</li>
    </ul>
    <p class="bibentry"><strong>2010&ndash;present</strong> Multiple voluntary positions as librarian/archive assistant</p>
    <ul>
        <li>Worked with various computer programs to contribute to the creation of a publicly accessible online local history archive</li>
        <li>Ordered, filed, edited and distributed music at short notice for a busy and high-profile college choir</li>
        <li>Processed loans and administered computer systems at a secondary school library</li></ul>
    <h2>Awards</h2>
    <p class="bibentry"><strong>2016&ndash;19</strong> PhD studentship, Queen&rsquo;s University, Belfast/Department for the Economy: circa £44000 plus payment of tuition fees</p>
    <p class="bibentry"><strong>2015</strong> Markheim Prize for French translation: £250</p>
    <p class="bibentry"><strong>2014</strong> Laming Scholarship for sustained academic achievement: £450</p>
    <p class="bibentry"><strong>2012</strong> Laming Junior Scholarship for distinction in preliminary examinations: £300 </p>
    <h2>Memberships</h2>
    <ul>
        <li><a href="http://www.uklef.net/">Linguistic Ethnography Forum</a></li>
        <li><a href="https://minoritylanguagesnewmedia2017.wordpress.com/">Minority Languages in New Media Network</a></li>
        <li><a href="https://swelnetwork.wordpress.com/">South West English Languages Network</a></li>
    </ul>
    <h2>Languages</h2>
    <p>English, Cornish: native
        <br/>French: fluent
        <br/>Breton: proficient in reading and writing
        <br/>German: some conversational ability
        <br/>Italian, Portuguese, Spanish: reading ability
        <br/>Russian, Welsh, Irish: rudimentary knowledge</p>
    <h2>Technological competence</h2>
    <ul>
        <li>Experienced user of computers running Windows, macOS, and Ubuntu Linux; and of Microsoft Office (Word, Excel, PowerPoint) and open-source alternatives</li>
        <li>Competent with image- and audio-editing software (GIMP, Audacity), XML (including HTML) and XPath testing, CSS, LaTeX, and use of the command line</li>
        <li>Basic level of familiarity with regular expression testing, Python, and JavaScript</li>
    </ul>
</div>
<div class="kw">
    <p><i>CV warlinen anowedhys 18/12/18. Rag gweles an versyon a-dhiwedhes [hep gorgevrednow], <a href="https://drive.google.com/uc?authuser=0&id=1RLBmd-iGS46WVSf06HcJmfqVG95CHDB5">gwra clyckya obma</a>.</i></p>
    <h2>Ow whithrans vy</h2>
    <p>Theroma o conis war an ethonieth-socyologieth, o corra poos war tavajow brythonek an soth (Kernowek ha Bretonek), bes my a wrug gonis war an tavajow a wrug doas dhort Latinek ewedh en termyn eus passyes. Theroma o cawas a les an tybyanjow senjys war an tavajow gen an dus; an gwreans a furvow standard a’n tavajow; an tavajow et an media (hag an media nowydh en arbednek); an kevrednow tredh an tavajow hag an honanieth; an letherednans; hag an varyanjow en-mesk an geryow a ujy anjei usyes. Et an pols ma erom o qwul PhD war Bretonek, lebm’ erom o miras ort an geryow et an media, hag an gevren tredh hebma hag an tybyanjow senjys ’dro dh’an “gowsoryon nowydh”, an “nevez-vrezhonegerien”.</p>
    <h2>Adhescans</h2>
    <p class="bibentry"><strong>2016&ndash;hedhyw</strong> O qwul PhD (Frenkek), Pednscol an Vyghternes, Béal Feirste</p>
    <blockquote class="noit">
        <p><i>Testen:</i> &lsquo;New speaker&rsquo; identity: Perceptions and practices in a French context
            <br/><i>Gorwolyjy:</i> Prof Janice Carruthers ha Prof Mícheál Ó Mainnín
            <br/>Radn an Open World Research Initiative, <a href="http://meits.org">Multilingualism: Empowering Individuals, Transforming Societies</a>, ragdres gen lies pednscol, fundyes gen an AHRC ha ledyas gen Wendy Ayres-Bennett ort pednscol Cargrant</p>
    </blockquote>
    <p class="bibentry"><strong>2015&ndash;16</strong> MA dre whithrans (Ethonieth), pednscol Evrok</p>
    <blockquote class="noit">
        <p><i>Testen</i> <a href="http://etheses.whiterose.ac.uk/16731">Orthographies and ideologies in revived Cornish</a>
            <br/><i>Gorwolyades:</i> Dr Carmen Llamas</p>
    </blockquote>
    <p class="bibentry"><strong>2011&ndash;15</strong> BA (Frenkek hag Ethonieth; kensa class), Coljy an Vyghternes, pednscol Rosojyon-en-Pow Sows</p>
    <p class="bibentry"><strong>2004&ndash;11</strong> Truro High School for Girls, Truru: A-levels war Frenkek (A*), Latinek (A*), Mathematik (A*), Musik (A); 11 GCSE gen A/A*</p>
    {% include publicationlist.html %}
    <h2>Experyans gen desky dhe dus erel</h2>
    <p><strong>2018–hedhyw</strong> Descajores ort cresen rag tavajow an Pednscol an Vyghternes, Béal Feirste</p>
    <ul>
        <li>Theroma o rei classow war Kernowek (2018) ha Latinek (2018–hedhyw) rag dallethoryon der vaner adhescans rag tevesigyon</li>
        <li>Theroma o qwul an daffar hag an asnodhow, rag an classow war Kernowek en arbednek</li>
    </ul>
    <p><strong>2017&ndash;18</strong> Kesarethyow, <i>Français pratique 2</i> (steus war gramer rag studhyoryon et aga hensa bledhen), Pednscol an Vyghternes, Béal Feirste</p>
    <ul class="dummy">
        <li>My a wrug desky dhe vagajow bian (25 studhyer po le) herwydh steus gwres kens, o corra poos war radnow avonsys a'n gramer Frenkek</li>
        <li>My a wrug ewna ober rag an steus hag a wrug dasliva dhe'n studhyoryon</li>
    </ul>
    <p><strong>2013&ndash;14</strong> Assistante de langue anglaise, Lise Paul Sérusier, Karaez, Breten Vian</p>
    <ul>
        <li>My a wrug scrifa gen ow-honan descanjow war Sowsnek hag a wrug aga desky dhe vagajow gen 4–15 studhyer tredh 14 ha 19 bloodh</li>
        <li>Thera an broassa radn a'n descanjow war an tavas war anow (descanjow reies en Sowsnek) bes my a wrug rei ewedh descanjow woja an jorna scol dhe voas diwedhys, war an gramer Sowsnek (descanjow reies en Frenkek)</li>
    </ul>
    {% include paperlist.html %}
    <h2>Experyans kelmys aral</h2>
    <p class="bibentry"><strong>2018–19</strong> Esel a gesva rag fyttya an kescussulyans <i>Crossing Boundaries in Language Teaching: Northern Ireland and Beyond</i></p>
    <ul>
        <li>My a wrug cawas mona (£250) dhort an Linguistics Association of Great Britain</li>
        <li>My a wrug desinya <a href="http://go.qub.ac.uk/ltni19">gwiasva an kescussulyans</a></li>
    </ul>
    <p class="bibentry"><strong>2018</strong> My a wrug dasweles berrscrif rag 3<sup>rd</sup> Pozna&#324; Conference of Celtic Studies</p>
    <p class="bibentry"><strong>2017&ndash;18</strong> Oberednow menystrek rag an lever <i>Manual of Romance Sociolinguistics</i>, pednscriforejow Wendy Ayres-Bennett ha Janice Carruthers, dyllys gen De Gruyter, 2018</p>
    <ul>
        <li>My a wrug treylya nebes radnow hag a wrug gwellhe treylyanjow gwres en termyn eus passyes rag assurya anjei dhe voas scrifys der vaner academek</li>
        <li>My a wrug gwul rol geryow rag an lever ettien fondyes war tybyanjow an scriforyon dihaval</li>
        <li>My a wrug redya oll an textow rag gorra keniver tra en acord en despit dhe'njei dhe voas scrifys gen lies scrifer</li>
    </ul>
    <p class="bibentry"><strong>2016</strong> Treylyanjow hag ewnanjow a-bell</p>
    <ul>
        <li>My a wrug gonis rag lies cliens dres oll an norves</li>
        <li>My a wrug treylya textow teknogel ’dro dhe lies testen: rag esompel, tegednow a'n termyn eus passyes, teknologieth, ha studhyans an dus</li>
        <li>My a wrug ewna textow Sowsnek, en despit dhe gawas termyn pur vian, rag aga gorra en gisyow arbednek</li>
    </ul>
    <p class="bibentry"><strong>2010&ndash;hedhyw</strong> Bodhoges lies gweyth rag cowethyanjow dihaval vel leveryajes po gweythores en fundyans</p>
    <ul>
        <li>My a wrug usya medhelweyth dihaval rag rei gweres o gwul gwiasva ’dro dhe'n istory a Gernow a ell boas gwelys gen an bobel</li>
        <li>My a wrug perna, digemyska, parujy ha distributya musik en termyn cott rag keur a vri a wrug gwul meur a gescanow</li>
        <li>My a wrug processya gwayanjow an levrow hag a wrug executya an medhelweyth ort leverva an scol vy</li>
    </ul>
    <h2>Powajow</h2>
    <p class="bibentry"><strong>2016&ndash;19</strong> Mona rag gwul PhD, Pednscol an Vyghternes, Béal Feirste/An Roinn Geilleagair: circa £44000 hag an feow rag studhya</p>
    <p class="bibentry"><strong>2015</strong> Markheim Prize rag treylya dhe/dhort Frenkek: £250</p>
    <p class="bibentry"><strong>2014</strong> Laming Scholarship rag avonsyans academek: £450</p>
    <p class="bibentry"><strong>2012</strong> Laming Junior Scholarship rag dhe voas cawas gradh uhel et an kensa apposyanjow: £300 </p>
    <h2>Eselethow</h2>
    <ul>
        <li><a href="http://www.uklef.net/">Linguistic Ethnography Forum</a></li>
        <li><a href="https://minoritylanguagesnewmedia2017.wordpress.com/">Minority Languages in New Media Network</a></li>
        <li><a href="https://swelnetwork.wordpress.com/">South West English Languages Network</a></li>
    </ul>
    <h2>Tavajow</h2>
    <p>Kernowek, Sowsnek: mabmethow
        <br/>Frenkek: my a ell usya en freth
        <br/>Bretonek: my a ell redya ha scrifa
        <br/>Almaynek: my a ell clappya tabm
        <br/>Italek, Portuguese, Spanish: my a ell redya
        <br/>Russek, Kembrek, Werdhonek: my a or nebes tacklow</p>
    <h2>Gallojow gen an teknologieth</h2>
    <ul>
        <li>Usyores a jynnow-amontya gen meur a experyans (ha Windows, ha macOS, ha Linux Ubuntu), hag a Microsoft Office (Word, Excel, Powerpoint) ha medhelweyth aral kehaval ewedh</li>
        <li>My a ell usya en ta medhelweyth rag chanjya imajys ha sonyow (GIMP, Audacity), hag XML (HTML enwedh), XPath, CSS, LaTeX, hag an pedn hens</li>
        <li>Goffos elvednek a regex, Python, ha JavaScript</li>
    </ul>
</div>
