<div class="en">
  <p class="bibentry">Adkins, M. (2014). An American abroad: My adult language immersion studies in Brittany. <i>Journal of Celtic Language Learning</i> 19, 109–128.</p>
<p class="bibentry">German, G. (2007). Language shift, diglossia and dialectal variation in western Brittany: The case of southern Cornouaille. In H. L. C. Tristram (Ed.), <i>The Celtic languages in contact: Papers from the workshop within the framework of the XIII International Congress of Celtic Studies</i>. Bonn: Universitätsverlag Potsdam, pp. 146–192.</p>
  <p class="bibentry">Hornsby, M. (2005). Néo-breton and questions of authenticity. <i>Estudios de sociolingüistica</i> 6, 191–218.</p>
  <p class="bibentry">Hornsby, M. (2015). <i>Revitalising minority languages: New speakers of Breton, Yiddish and Lemko.</i> Basingstoke: Palgrave Macmillan.</p>
  <p class="bibentry">Jones, M. C. (1995). At what price language maintenance? Standardisation in modern Breton. <i>French Studies</i> 49(4), 424–438.</p>
  <p class="bibentry">Kennard, H. J. (2014). The persistence of verb second in negative utterances in Breton. <i>Journal of Historical Linguistics</i> 4(1), 1–39.</p>
  <p class="bibentry">Ó hIfearnáin, T. (2013). Institutional Breton language policy after language shift. <i>International Journal of the Sociology of Language</i> 223, 117–135.</p>
  <p class="bibentry">Rottet, K. (2014). Neology, competing authenticities, and the lexicography of regional languages: The case of Breton. <i>Journal of the Dictionary Society of North America</i> 35, 208–247.</p>
<p class="bibentry">Timm, L. A. (2001). Transforming Breton: A case study in multiply conflicting language ideologies. <i>Texas Linguistic Forum</i> 44(2), 447–461.</p>
</div>

<div class="kw">
    <p class="bibentry">Adkins, M. (2014). An American abroad: My adult language immersion studies in Brittany. <i>Journal of Celtic Language Learning</i> 19, 109–128.</p>
<p class="bibentry">German, G. (2007). Language shift, diglossia and dialectal variation in western Brittany: The case of southern Cornouaille. En H. L. C. Tristram (pednscrifores), <i>The Celtic languages in contact: Papers from the workshop within the framework of the XIII International Congress of Celtic Studies</i>. Bonn: Universitätsverlag Potsdam, ff. 146–192.</p>
    <p class="bibentry">Hornsby, M. (2005). Néo-breton and questions of authenticity. <i>Estudios de sociolingüistica</i> 6, 191–218.</p>
      <p class="bibentry">Hornsby, M. (2015). <i>Revitalising minority languages: New speakers of Breton, Yiddish and Lemko.</i> Basingstoke: Palgrave Macmillan.</p>
    <p class="bibentry">Jones, M. C. (1995). At what price language maintenance? Standardisation in modern Breton. <i>French Studies</i> 49(4), 424–438.</p>
    <p class="bibentry">Kennard, H. J. (2014). The persistence of verb second in negative utterances in Breton. <i>Journal of Historical Linguistics</i> 4(1), 1–39.</p>
    <p class="bibentry">Ó hIfearnáin, T. (2013). Institutional Breton language policy after language shift. <i>International Journal of the Sociology of Language</i> 223, 117–135.</p>
      <p class="bibentry">Rottet, K. (2014). Neology, competing authenticities, and the lexicography of regional languages: The case of Breton. <i>Journal of the Dictionary Society of North America</i> 35, 208–247.</p>
<p class="bibentry">Timm, L. A. (2001). Transforming Breton: A case study in multiply conflicting language ideologies. <i>Texas Linguistic Forum</i> 44(2), 447–461.</p>
</div>
