<div class="en">
<p class="bibentry">Brown, W. (1987). Deryvas a’n cuntellas a vern synsys dhe’n 13ves a vys Metheven yn kever lytherennans. <i>An Gannas</i> 127, 2–3.</p>
<p class="bibentry">Brown, W., Chubb, D., Chubb, R., Kennedy, N. and Ninnis, J. (1991). <i>The Cornish language</i>. Unpublished report.</p>
<p class="bibentry">Combellack, M. (1978). Twelve years’ progress in Unified Cornish, 1967 to 1979. <i>Cornish Studies</i> 6, 45–51.</p>
<p class="bibentry">Dunbar, P. and George, K. (1997). <i>Kernewek Kemmyn: Cornish for the twenty-first century</i>. Penzance: Cornish Language Board.</p>
<p class="bibentry">Gendall, R. (1988). <i>Laugh and learn traditional Cornish through cartoons and cassette: A new course in Cornish for the beginner</i>. Menheniot: Teere ha Tavaz.</p>
<p class="bibentry">Gendall, R. (2000). <i>Tavas a ragadazow: The language of my forefathers</i>. Menheniot: Teer ha Tavas.</p>
<p class="bibentry">Gendall, R. (2007). The course of true love: A view over the battlefield of revived Cornish. Unpublished paper.</p>
<p class="bibentry">George, K. (1986). <i>The pronunciation and spelling of revived Cornish</i>. Penzance: Cornish Language Board.</p>
<p class="bibentry">George, K. (1993). <i>Gerlyver Kernewek Kemmyn: An gerlyver meur</i>. Penzance: Cornish Language Board.</p>
<p class="bibentry">George, K. (1995). Which base for revived Cornish? In P. Payton (Ed.). <i>Cornish Studies: Three</i>. Exeter: University of Exeter Press, pp. 104–124.</p>
<p class="bibentry">Harasta, J. (2013). <i>In search of a single voice: The politics of form, use and belief in the Kernewek language</i>. PhD thesis, Syracuse University.</p>
<p class="bibentry">Jørgensen, H. (2013). Heritage tourism in Tranquebar: Colonial nostalgia or postcolonial encounter? In M. Naum and J. M. Nordin (Eds.). <i>Scandinavian colonialism and the rise of modernity: Small time agents in a global arena</i>. New York: Springer, pp. 69–86.</p>
<p class="bibentry">Kennedy, N. (2013). <i>Employing Cornish cultures for community resilience</i>. PhD thesis, University of Exeter.</p>
<p class="bibentry">Kergoat, L. (1999). Une Bretagne en quête d’identité : la relation à la langue. In H. ar Bihan (Ed.). <i>Breizh ha pobloù Europa</i>. Rennes: Hor Yezh/Klask (Presses universitaires de Rennes), pp. 415–426.</p>
<p class="bibentry">Koch, J. (2003). Celts, Britons and Gaels: Names, peoples and identities. <i>Transactions of the Honourable Society of Cymmrodorion</i> New Series 9, 41–56.</p>
<p class="bibentry">MacKinnon, K. (2000). <i>Cornish at its millennium: An independent study of the language</i>. Dingwall: SGRÙD Research.</p>
<p class="bibentry">Nance, R. M. (1929). <i>Cornish for all</i>. St Ives: Federation of Old Cornwall Societies.</p>
<p class="bibentry">Nance, R. M. (1952). <i>An English-Cornish dictionary</i>. St Ives: Federation of Old Cornwall Societies.</p>
<p class="bibentry">Rymes, B. (1999). <i>Names</i>. Journal of Linguistic Anthropology 9, 1–2.</p>
<p class="bibentry">Williams, N.(2006). <i>Writings on revived Cornish</i>. Westport: Evertype.</p>
</div>

<div class="kw">
<p class="bibentry">Brown, W. (1987). Deryvas a’n cuntellas a vern synsys dhe’n 13ves a vys Metheven yn kever lytherennans. <i>An Gannas</i> 127, 2–3.</p>
<p class="bibentry">Brown, W., Chubb, D., Chubb, R., Kennedy, N. ha Ninnis, J. (1991). <i>The Cornish language</i>. Derivas hep dyllans.</p>
<p class="bibentry">Combellack, M. (1978). Twelve years’ progress in Unified Cornish, 1967 to 1979. <i>Cornish Studies</i> 6, 45–51.</p>
<p class="bibentry">Dunbar, P. ha George, K. (1997). <i>Kernewek Kemmyn: Cornish for the twenty-first century</i>. Pennsans: Kesva an Taves Kernewek.</p>
<p class="bibentry">Gendall, R. (1988). <i>Laugh and learn traditional Cornish through cartoons and cassette: A new course in Cornish for the beginner</i>. Mahynyet: Teere ha Tavaz.</p>
<p class="bibentry">Gendall, R. (2000). <i>Tavas a ragadazow: The language of my forefathers</i>. Mahynyet: Teer ha Tavas.</p>
<p class="bibentry">Gendall, R. (2007). The course of true love: A view over the battlefield of revived Cornish. Dornscrif hep dyllans.</p>
<p class="bibentry">George, K. (1986). <i>The pronunciation and spelling of revived Cornish</i>. Pennsans: Kesva an Taves Kernewek.</p>
<p class="bibentry">George, K. (1993). <i>Gerlyver Kernewek Kemmyn: An gerlyver meur</i>. Pennsans: Kesva an Taves Kernewek.</p>
<p class="bibentry">George, K. (1995). Which base for revived Cornish? En P. Payton (Pednscrifer). <i>Cornish Studies: Three</i>. Caresk: University of Exeter Press, ff. 104–124.</p>
<p class="bibentry">Harasta, J. (2013). <i>In search of a single voice: The politics of form, use and belief in the Kernewek language</i>. Dornscrif PhD, pednscol Syracuse.</p>
<p class="bibentry">Jørgensen, H. (2013). Heritage tourism in Tranquebar: Colonial nostalgia or postcolonial encounter? En M. Naum ha J. M. Nordin (Pednscriforyon). <i>Scandinavian colonialism and the rise of modernity: Small time agents in a global arena</i>. Evrok Nowydh: Springer, ff. 69–86.</p>
<p class="bibentry">Kennedy, N. (2013). <i>Employing Cornish cultures for community resilience</i>. Dornscrif PhD, pednscol Caresk.</p>
<p class="bibentry">Kergoat, L. (1999). Une Bretagne en quête d’identité : la relation à la langue. En H. ar Bihan (Pednscrifer). <i>Breizh ha pobloù Europa</i>. Roazhon: Hor Yezh/Klask (Presses universitaires de Rennes), ff. 415–426.</p>
<p class="bibentry">Koch, J. (2003). Celts, Britons and Gaels: Names, peoples and identities. <i>Transactions of the Honourable Society of Cymmrodorion</i> Kevres Nowydh 9, 41–56.</p>
<p class="bibentry">MacKinnon, K. (2000). <i>Cornish at its millennium: An independent study of the language</i>. Inbhir Pheofharain: SGRÙD Research.</p>
<p class="bibentry">Nance, R. M. (1929). <i>Cornish for all</i>. Porthia: Unyans Cowethajow Kernow Goth.</p>
<p class="bibentry">Nance, R. M. (1952). <i>An English-Cornish dictionary</i>. Porthia: Unyans Cowethajow Kernow Goth.</p>
<p class="bibentry">Rymes, B. (1999). <i>Names</i>. Journal of Linguistic Anthropology 9, 1–2.</p>
<p class="bibentry">Williams, N. (2006). <i>Writings on revived Cornish</i>. Cathair na Mart: Evertype.</p>
</div>
