<p class="bibentry en">Atkinson, D. (2018). New speakers and linguistic practices: Contexts, definitions, and issues. In C. Smith-Christmas, N. P. Ó Murchadha, M. Hornsby, and M. Moriarty (Eds.), <i>New speakers of minority languages:
    Linguistic ideologies and practices.</i> London: Palgrave
  Macmillan, pp. 271–282.</p>
<p class="bibentry kw">Atkinson, D. (2018). New speakers and linguistic practices: Contexts, definitions, and issues. En C. Smith-Christmas, N. P. Ó Murchadha, M. Hornsby, ha M. Moriarty (pednscriforyon), <i>New speakers of minority languages:
    Linguistic ideologies and practices.</i> Loundres: Palgrave
  Macmillan, ff. 271–282.</p>
<p class="bibentry en">Carruthers, J. and Fisher, L. (2020). Conducting interdisciplinary research in modern languages: Towards “common ground” and
  “integration”. <i>Modern Languages Open</i>. DOI: <a href="https://doi.org/10.3828/mlo.v0i0.276">10.3828/mlo.v0i0.276.</a></p>
<p class="bibentry kw">Carruthers, J. ha Fisher, L. (2020). Conducting interdisciplinary research in modern languages: Towards “common ground” and
  “integration”. <i>Modern Languages Open</i>. DOI: <a href="https://doi.org/10.3828/mlo.v0i0.276">10.3828/mlo.v0i0.276.</a></p>
<p class="bibentry en">German, G. (2007). Language shift, diglossia and dialectal variation in western Brittany: The case of southern Cornouaille. In H. L. C. Tristram (Ed.), <i>The Celtic
    languages in contact: Papers from the workshop within the framework of the XIII International Congress of Celtic Studies</i>. Bonn: Universitätsverlag Potsdam, pp. 146–192.</p>
<p class="bibentry kw">German, G. (2007). Language shift, diglossia and dialectal variation in western Brittany: The case of southern Cornouaille. En H. L. C. Tristram (pednscrifores), <i>The Celtic
    languages in contact: Papers from the workshop within the framework of the XIII International Congress of Celtic Studies</i>. Bonn: Universitätsverlag Potsdam, ff. 146–192.</p>
<p class="bibentry en">Grinevald, C. and Bert, M. (2011). Speakers and communities. In P. K. Austin and
  J. Sallabank (Eds.), <i>The Cambridge handbook of endangered languages</i>. Cambridge: Cambridge University Press, pp. 45–65.</p>
<p class="bibentry kw">Grinevald, C. ha Bert, M. (2011). Speakers and communities. En P. K. Austin ha
  J. Sallabank (pednscriforyon), <i>The Cambridge handbook of endangered languages</i>. Cambridge: Cambridge University Press, ff. 45–65.</p>
<p class="bibentry">Hornsby, M. (2005). Néo-breton and questions of authenticity. <i>Estudios de sociolingüística</i> 6(2), 191–218.</p>
<p class="bibentry en">Hornsby, M. and Quentel, G. (2013). Contested varieties and competing authenticities: Neologisms in revitalised Breton. <i>International
    Journal of the Sociology of Language</i> 223, 71–86.</p>
<p class="bibentry kw">Hornsby, M. ha Quentel, G. (2013). Contested varieties and competing authenticities: Neologisms in revitalised Breton. <i>International
    Journal of the Sociology of Language</i> 223, 71–86.</p>
<p class="bibentry">Jones, M. C. (1995). At what price language maintenance? Standardisation in modern Breton. <i>French Studies</i> 49(4), 424–438.</p>
<p class="bibentry">Kennard, H. J. (2014). The persistence of verb second in negative utterances in Breton. <i>Journal of Historical Linguistics</i> 4(1), 1–39.</p>
<p class="bibentry en">Nance, C. (2018). Linguistic innovation among Glasgow Gaelic new speakers. In C. Smith-Christmas, N. P. Ó Murchadha, M. Hornsby, and M. Moriarty (Eds.), <i>New speakers of minority languages: Linguistic ideologies
    and practices</i>. London: Palgrave Macmillan, pp. 213–230.</p>
<p class="bibentry kw">Nance, C. (2018). Linguistic innovation among Glasgow Gaelic new speakers. En C. Smith-Christmas, N. P. Ó Murchadha, M. Hornsby, ha M. Moriarty (pednscriforyon), <i>New speakers of minority languages: Linguistic ideologies
    and practices.</i> Loundres: Palgrave Macmillan, ff. 213–230.</p>
<p class="bibentry">Ó Giollagáin, C. (2004). A contrastive view of Irish language dynamics. <i>Collegium antropologicum</i> 28, 73–81.</p>
<p class="bibentry">Ó hIfearnáin, T. (2013). Institutional Breton language policy after language shift. <i>International Journal of the Sociology of Language</i> 223,
  117–135.</p>
<p class="bibentry en">Ó Murchadha, N. P., Hornsby, M., Smith-Christmas, C., and Moriarty, M. (2018). New speakers, familiar concepts? In C. Smith-Christmas, N. P. Ó Murchadha, M. Hornsby, and M. Moriarty (Eds.), <i>New speakers of
    minority languages: Linguistic ideologies and practices</i>. London: Palgrave Macmillan, pp. 1–22.</p>
<p class="bibentry kw">Ó Murchadha, N. P., Hornsby, M., Smith-Christmas, C., ha Moriarty, M. (2018). New speakers, familiar concepts? En C. Smith-Christmas, N. P. Ó Murchadha, M. Hornsby, ha M. Moriarty (pednscriforyon), <i>New speakers of
    minority languages: Linguistic ideologies and practices</i>. Loundres: Palgrave Macmillan, pp. 1–22.</p>
<p class="bibentry en">O’Rourke, B. and Pujolar, J. (Eds). (2019). <i>From new speaker to speaker: Outcomes, reflections and policy recommendations from COST Action
    IS1306 on New Speakers in a Multilingual Europe: Opportunities and Challenges</i>. Newcastle Emlyn: IAITH: Welsh Centre for Language
  Planning.</p>
<p class="bibentry kw">O’Rourke, B. ha Pujolar, J. (pednscriforyon). (2019). <i>From new speaker to speaker: Outcomes, reflections and policy recommendations from COST Action
    IS1306 on New Speakers in a Multilingual Europe: Opportunities and Challenges</i>. Castellnewydd Emlyn: IAITH: Welsh Centre for Language
  Planning.</p>
<p class="bibentry en">Pujolar, J. and Puigdevall, M. (2015). Linguistic mudes: How to become a new speaker in Catalonia. <i>International Journal of the Sociology of
    Language</i> 231, 167–187.</p>
<p class="bibentry kw">Pujolar, J. ha Puigdevall, M. (2015). Linguistic mudes: How to become a new speaker in Catalonia. <i>International Journal of the Sociology of
    Language</i> 231, 167–187.</p>
<p class="bibentry">Rottet, K. J. (2014). Neology, competing authenticities, and the lexicography of regional languages: The case of Breton. <i>Journal of the
    Dictionary Society of North America</i> 35, 208–247.</p>
<p class="bibentry">Sayers, D. (2012). Standardising Cornish: The politics of a new minority language. <i>Language Problems and Language Planning</i> 36(2),
  99–119.</p>
<p class="bibentry en">Silverstein, M. (1985). Language and the culture of gender: At the intersection of structure, usage, and ideology. In E. Mertz and R. J. Parmentier (Eds.), <i>Semiotic mediation:
    Sociocultural and psychological perspectives</i>. New York: Academic Press, pp. 219–259.</p>
<p class="bibentry kw">Silverstein, M. (1985). Language and the culture of gender: At the intersection of structure, usage, and ideology. En E. Mertz ha R. J. Parmentier (pednscriforyon), <i>Semiotic mediation:
    Sociocultural and psychological perspectives</i>. Evrok Nowedh: Academic Press, ff. 219–259.</p>
<p class="bibentry">Timm, L. A. (2001). Transforming Breton: A case study in multiply conflicting language ideologies. <i>Texas Linguistic Forum</i> 44(2), 447–461.</p>
<p class="bibentry">Woolard, K. A. (1992). Language ideology: Issues and approaches. <i>Pragmatics</i> 2(3), 235–249.</p>
  
