<div class="en">
  <p class="bibentry">Davies-Deacon, M. (2017). Names, varieties, and ideologies in revived Cornish. <i>Studia Celtica Posnaniensia</i> 2, 81&ndash;95.</p>
  <p class="bibentry">George, K. J. (2017). Accommodating Middle and Late bases in Cornish orthography. Unpublished paper, available <a href="http://www.cornishlanguage.info/spell/variants.pdf">here</a> (accessed 11 July 2023).</p>
  <p class="bibentry">George, K. J. (2020). <i>An gerlyver meur.</i> 3rd edition, Penzance: Cornish Language Board.</p>
  <p class="bibentry">Harris, S., Harris, D., Harvey, P., and Harvey, R. (2019). <i>A learners’ Cornish dictionary in the standard written form</i>. 2nd edition, Redruth: Ors Sempel.</p>
  <p class="bibentry">Kennedy, N. (2022). <i>The annual English–Cornish dictionary 2022.</i> Lostwithiel: Cussül an Tavas Kernôwek.</p>
  <p class="bibentry">Williams, N, J. A. (2014). <i>Geryow gwir: The lexicon of revived Cornish</i>. 2nd edition, Cathair na Mart: Evertype.</p>
    <p class="bibentry">Woolard, K. A. (2016). <i>Singular and plural: Ideologies of linguistic authority in 21st-century Catalonia.</i> Oxford: Oxford University Press.</p>
</div>

<div class="kw">
  <p class="bibentry">Davies-Deacon, M. (2017). Names, varieties, and ideologies in revived Cornish. <i>Studia Celtica Posnaniensia</i> 2, 81&ndash;95.</p>
  <p class="bibentry">George, K. J. (2017). Accommodating Middle and Late bases in Cornish orthography. Scryf hep dyllans, a ell boas gwelys <a href="http://www.cornishlanguage.info/spell/variants.pdf">obma</a> (gwelys 11 Gortheren 2023).</p>
  <p class="bibentry">George, K. J. (2020). <i>An gerlyver meur.</i> 3ja dyllans, Pennsans: Kesva an Taves Kernewek.</p>
  <p class="bibentry">Harris, S., Harris, D., Harvey, P., ha Harvey, R. (2019). <i>A learners’ Cornish dictionary in the standard written form</i>. 2sa dyllans, Resrudh: Ors Sempel.</p>
  <p class="bibentry">Kennedy, N. (2022). <i>The annual English–Cornish dictionary 2022.</i> Lostwydhyel: Cussül an Tavas Kernôwek.</p>
  <p class="bibentry">Williams, N, J. A. (2014). <i>Geryow gwir: The lexicon of revived Cornish</i>. 2sa dyllans, Cathair na Mart: Evertype.</p>
  <p class="bibentry">Woolard, K. A. (2016). <i>Singular and plural: Ideologies of linguistic authority in 21st-century Catalonia.</i> Rosojon: Oxford University Press.</p>
</div>
