<div class="en">
<p class="bibentry">Broudic, F. (2013). Langue bretonne : Un siècle de mutations. <i>International Journal of the Sociology of Language</i> 223, 7–21.</p>
<p class="bibentry">German, G. (2007). Language shift, diglossia and dialectal variation in western Brittany: The case of southern Cornouaille. In H. L. C. Tristram (Ed.), <i>The Celtic languages in contact: Papers from the workshop within the framework of the XIII International Congress of Celtic Studies</i>. Bonn: Universitätsverlag Potsdam, pp. 146–192.</p>
<p class="bibentry">Hornsby, M. (2005). Néo-breton and questions of authenticity. <i>Estudios de sociolingüistica</i> 6, 191–218.</p>
<p class="bibentry">Jones, M. C. (1995). At what price language maintenance? Standardisation in modern Breton. <i>French Studies</i> 49(4), 424–438.</p>
<p class="bibentry">Timm, L. A. (2001). Transforming Breton: A case study in multiply conflicting language ideologies. <i>Texas Linguistic Forum</i> 44(2), 447–461.</p>
</div>
<div class="kw">
<p class="bibentry">Broudic, F. (2013). Langue bretonne : Un siècle de mutations. <i>International Journal of the Sociology of Language</i> 223, 7–21.</p>
<p class="bibentry">German, G. (2007). Language shift, diglossia and dialectal variation in western Brittany: The case of southern Cornouaille. En H. L. C. Tristram (pednscrifores), <i>The Celtic languages in contact: Papers from the workshop within the framework of the XIII International Congress of Celtic Studies</i>. Bonn: Universitätsverlag Potsdam, ff. 146–192.</p>
<p class="bibentry">Hornsby, M. (2005). Néo-breton and questions of authenticity. <i>Estudios de sociolingüistica</i> 6, 191–218.</p>
<p class="bibentry">Jones, M. C. (1995). At what price language maintenance? Standardisation in modern Breton. <i>French Studies</i> 49(4), 424–438.</p>
<p class="bibentry">Timm, L. A. (2001). Transforming Breton: A case study in multiply conflicting language ideologies. <i>Texas Linguistic Forum</i> 44(2), 447–461.</p>
</div>
