<p class="bibentry en">Brookes, I., O’Neill, M., and Davies-Deacon, M. (2021). An industry perspective: Dealing with language variation in Collins dictionaries. In W. Ayres-Bennett and J. Bellamy (Eds.), Cambridge: Cambridge University Press, pp. 294–312.</p>
<p class="bibentry kw">Brookes, I., O’Neill, M., ha Davies-Deacon, M. (2021). An industry perspective: Dealing with language variation in Collins dictionaries. En W. Ayres-Bennett ha J. Bellamy (pednscriforyon), Cambridge: Cambridge University Press, ff. 294–312.</p>
  <p class="bibentry en">Čibej, J., Fišer, D., and Kosem, I. (2015). The role of
crowdsourcing in lexicography. In I. Kosem, M. Jakubiček, J. Kallas, and S. Krek (Eds.), <i>Electronic lexicography in
      the 21st century: Linking lexical data in the digital age.</i>
Ljubljana/Brighton: Trojina, Institute for Applied Slovene
    Studies/Lexical Computing Ltd., pp. 70–83.</p>
  <p class="bibentry kw">Čibej, J., Fišer, D., ha Kosem, I. (2015). The role of
crowdsourcing in lexicography. En I. Kosem, M. Jakubiček, J. Kallas, ha S. Krek (pednscriforyon), <i>Electronic lexicography in
      the 21st century: Linking lexical data in the digital age.</i>
Ljubljana/Brighton: Trojina, Institute for Applied Slovene
    Studies/Lexical Computing Ltd., ff. 70–83.</p>
  <p class="bibentry">Davies-Deacon, M. (2020). The orthography of revived
Cornish as an attempt at pluricentricity. <i>Language
      Problems and Language Planning</i> 44 (1), 66–86.</p>
  <p class="bibentry">Dorian, N. C. (1994). Purism vs. compromise in language
    revitalisation and revival. <i>Language in Society</i> 23 (4),
    479–494.</p>
  <p class="bibentry en">Estival, D. and Pennycook, A. (2011). L’Académie française
    and Anglophone language ideologies. <i>Language Policy</i> 10,
    325–341.</p>
  <p class="bibentry kw">Estival, D. ha Pennycook, A. (2011). L’Académie française
    and Anglophone language ideologies. <i>Language Policy</i> 10,
    325–341.</p>
  <p class="bibentry">Fuchs, C. (2014). <i>Social media: A critical introduction.</i> London: SAGE Publications.</p>
  <p class="bibentry">Hornsby, M. (2019). Gender-fair language in a minority
    setting: The case of Breton. Studia Celtica Posnaniensia 4, 59–74.</p>
  <p class="bibentry">Jones, M. C. (1995). At what price language maintenance?
    Standardisation in modern Breton. <i>French Studies</i> 49 (4),
    424–438.</p>
  <p class="bibentry en">Lenihan, A. (2013). <i>The interaction of language policy,
minority languages and new media: A study of the Facebook
      translations application.</i> PhD thesis. University of Limerick.</p>
  <p class="bibentry kw">Lenihan, A. (2013). <i>The interaction of language policy,
minority languages and new media: A study of the Facebook
      translations application.</i> Scrif PhD. Pednscol Luimneach.</p>
  <p class="bibentry en">Morvannou, F. (2004). Regards sur 700 ans de breton écrit. In L. Lemoine and B. Merdrignac (Eds.), <i>Corona Monastica. Moines bretons de Landévennec :
histoire et mémoire celtiques. Mélanges offerts au père
      Marc Simon.</i> Rennes:
    Presses universitaires de Rennes, pp. 365–379.</p>
  <p class="bibentry kw">Morvannou, F. (2004). Regards sur 700 ans de breton écrit. En L. Lemoine and B. Merdrignac (pednscriforyon), <i>Corona Monastica. Moines bretons de Landévennec :
histoire et mémoire celtiques. Mélanges offerts au père
      Marc Simon.</i> Roazhon:
    Presses universitaires de Rennes, pp. 365–379.</p>
  <p class="bibentry en">O’Rourke, B. and Walsh, J. (2015). New speakers of Irish: Shifting boundaries across time and space. <i>International
      Journal of the Sociology of Language</i> 231, 63–83.</p>
  <p class="bibentry kw">O’Rourke, B. ha Walsh, J. (2015). New speakers of Irish: Shifting boundaries across time and space. <i>International
      Journal of the Sociology of Language</i> 231, 63–83.</p>
  <p class="bibentry">Rottet, K. J. (2014). Neology, competing authenticities, and
the lexicography of regional languages: The case of Breton.
    <i>Journal of the Dictionary Society of North America</i> 35,
    208–247.</p>
  <p class="bibentry">Walsh, O. (2014). ‘Les anglicismes polluent la langue
française’: Purist attitudes in France and Quebec. <i>Journal of
      French Language Studies</i> 24, 423–449.</p>
