<div class="en">
<p class="bibentry">Bock, A. and Bruch, B. (2008). <i>An outline of the standard written form of Cornish</i>. Truro: Cornish Language Partnership.</p>
<p class="bibentry">Burley, S. (2008). A report on the Cornish Language Survey conducted by the Cornish Language Partnership. Unpublished report.</p>
<p class="bibentry">Deacon, B. (2007). Deconstructing Kernowek Kemyn: A critical review of <i>Agan Yeth</i> 4. In Everson, M. (ed.). <i>Form and content in revived Cornish</i>. Westport: Evertype, pp. 69–84.</p>
<p class="bibentry">Dunbar, P. and George, K. J. (1997). <i>Kernewek Kemmyn: Cornish for the twenty-first century</i>. Penzance: Cornish Language Board.</p>
<p class="bibentry">Ellis, P. B. (1974). <i>The Cornish language and its literature</i>. London: Routledge.</p>
<p class="bibentry">Gendall, R. (1988). <i>The Cornish language: Information sheet</i>. Menheniot: Teere ha Tavaz.</p>
<p class="bibentry">George, K. J. (1986). <i>The pronunciation and spelling of revived Cornish</i>. Penzance: Cornish Language Board.</p>
<p class="bibentry">George, K. J. (2017). <i>Accommodating Middle and Late bases in Cornish orthography</i>. Unpublished report, available <a href="http://www.cornishlanguage.info/spell/variants.pdf">here</a> (Accessed 15 Oct 2018).</p>
<p class="bibentry">Harasta, J. O. (2013). <i>In search of a single voice: The politics of form, use and belief in the Kernewek language</i>. PhD thesis, Syracuse University.</p>
<p class="bibentry">MacKinnon, K. (2000). <i>Cornish at its millennium: An independent study of the language</i>. Dingwall: SGRÙD Research.</p>
<p class="bibentry">Mills, J. (2013). <i>Oxford Children’s Cornish–English visual dictionary</i>. Oxford: Oxford University Press.</p>
<p class="bibentry">Padel, O. (2017). Where was Middle Cornish spoken? <i>Cambrian Medieval Celtic Studies</i> 74, 1–31.</p>
<p class="bibentry">Rowe, N. (2018). <i>Suggested amendments to the SWF dictionary</i>. Unpublished report, available <a href="https://www.facebook.com/download/682407832108220/amendments%5C%20to%5C%20the%5C%20akademi%5C%20dictionary.pdf
">here</a> (Accessed 16 Oct 2018).</p>
<p class="bibentry">Saunders, T. (1976). Why I write in Cornish. <i>Planet</i> 30, 29–33.</p>
<p class="bibentry">Williams, N. J. A. (1995). <i>Cornish today: An examination of the revived language</i>. Sutton Coldfield: Kernewek dre Lyther.</p>
</div>

<div class="kw">
<p class="bibentry">Bock, A. ha Bruch, B. (2008). <i>An outline of the standard written form of Cornish</i>. Truru: Kescowethyans an Tavas Kernowek.</p>
<p class="bibentry">Burley, S. (2008). A report on the Cornish Language Survey conducted by the Cornish Language Partnership. Derivas hep dyllans.</p>
<p class="bibentry">Deacon, B. (2007). Deconstructing Kernowek Kemyn: A critical review of <i>Agan Yeth</i> 4. En Everson, M. (Pednscrifer). <i>Form and content in revived Cornish</i>. Cathair na Mart: Evertype, ff. 69–84.</p>
<p class="bibentry">Dunbar, P. ha George, K. J. (1997). <i>Kernewek Kemmyn: Cornish for the twenty-first century</i>. Pennsans: Kesva an Tavas Kernewek.</p>
<p class="bibentry">Ellis, P. B. (1974). <i>The Cornish language and its literature</i>. Loundres: Routledge.</p>
<p class="bibentry">Gendall, R. (1988). <i>The Cornish language: Information sheet</i>. Mahynyet: Teere ha Tavaz.</p>
<p class="bibentry">George, K. J. (1986). <i>The pronunciation and spelling of revived Cornish</i>. Pennsans: Kesva an Taves Kernewek.</p>
<p class="bibentry">George, K. J. (2017). <i>Accommodating Middle and Late bases in Cornish orthography</i>. Derivas hep dyllans, a ell boas gwelys <a href="http://www.cornishlanguage.info/spell/variants.pdf">obma</a> (Gwelys 15 mis Hedra 2018).</p>
<p class="bibentry">Harasta, J. O. (2013). <i>In search of a single voice: The politics of form, use and belief in the Kernewek language</i>. Dornscrif PhD, pednscol Syracuse.</p>
<p class="bibentry">MacKinnon, K. (2000). <i>Cornish at its millennium: An independent study of the language</i>. Inbhir Pheofharain: SGRÙD Research.</p>
<p class="bibentry">Mills, J. (2013). <i>Oxford Children’s Cornish–English visual dictionary</i>. Rosojyon-en-Pow Sows: Oxford University Press.</p>
<p class="bibentry">Padel, O. (2017). Where was Middle Cornish spoken? <i>Cambrian Medieval Celtic Studies</i> 74, 1–31.</p>
<p class="bibentry">Rowe, N. (2018). <i>Suggested amendments to the SWF dictionary</i>. Derivas hep dyllas, a ell boas gwelys <a href="https://www.facebook.com/download/682407832108220/amendments%5C%20to%5C%20the%5C%20akademi%5C%20dictionary.pdf
">obma</a> (Gwelys 16 mis Hedra 2018).</p>
<p class="bibentry">Saunders, T. (1976). Why I write in Cornish. <i>Planet</i> 30, 29–33.</p>
<p class="bibentry">Williams, N. J. A. (1995). <i>Cornish today: An examination of the revived language</i>. Sutton Coldfield: Kernewek dre Lyther.</p>
</div>
