<div class="en">
<p class="bibentry">Constanzo, A. (1978). Time and space in Villon: Les trois ballades du temps jadis. <i>Fifteenth Century Studies</i> 1, 51–69.</p>
<p class="bibentry">Ewert, A. (1943). <i>The French language</i>. 2nd edn. London: Faber & Faber.</p>
<p class="bibentry">Fox, J. (1984). <i>Villon: Poems</i>. London: Grant & Cutler.</p>
<p class="bibentry">Jacob, P. L. (1866). <i>Les deux Testaments de Villon, suivis du Bancquet du Boys</i>. Paris: Académie des Bibliophiles.</p>
<p class="bibentry">Longnon, A. (Ed.). (1969). <i>François Villon : Œuvres</i>. 4th edn. Paris: Champion.</p>
<p class="bibentry">Marchello-Nizia, C. (1997). <i>La langue française aux XIVe et XVe siècles</i>. Paris: Nathan.</p>
<p class="bibentry">Molière, (1956 [1673]). Le malade imaginaire. In R. Jouanny, <i>Théâtre complet de Molière</i>, vol. 2. Paris: Garnier.</p>
<p class="bibentry">Pope, M. (1952). <i>From Latin to modern French with especial consideration of Anglo-Norman: Phonology and morphology</i>. 2nd ed. Manchester: Manchester University Press.</p>
<p class="bibentry">Smith, J. C. (2002). <i>Middle French: When? What? Why? Language Sciences</i> 24, 423–445.</p>
<p class="bibentry">Taylor, J. (2001). <i>The poetry of François Villon: Text and context</i>. Cambridge: Cambridge University Press.</p>
<p class="bibentry">Thiry, C. (1991). <i>Villon : Poésies complètes</i>. Paris: Le Livre de Poche.</p>
</div>

<div class="kw">
<p class="bibentry">Constanzo, A. (1978). Time and space in Villon: Les trois ballades du temps jadis. <i>Fifteenth Century Studies</i> 1, 51–69.</p>
<p class="bibentry">Ewert, A. (1943). <i>The French language</i>. 2nd dyllans. Loundres: Faber & Faber.</p>
<p class="bibentry">Fox, J. (1984). <i>Villon: Poems</i>. Loundres: Grant & Cutler.</p>
<p class="bibentry">Jacob, P. L. (1866). <i>Les deux Testaments de Villon, suivis du Bancquet du Boys</i>. Paris: Académie des Bibliophiles.</p>
<p class="bibentry">Longnon, A. (Pednscrifer). (1969). <i>François Villon : Œuvres</i>. 4ra dyllans. Paris: Champion.</p>
<p class="bibentry">Marchello-Nizia, C. (1997). <i>La langue française aux XIVe et XVe siècles</i>. Paris: Nathan.</p>
<p class="bibentry">Molière, (1956 [1673]). Le malade imaginaire. En R. Jouanny, <i>Théâtre complet de Molière</i>, kevrol 2. Paris: Garnier.</p>
<p class="bibentry">Pope, M. (1952). <i>From Latin to modern French with especial consideration of Anglo-Norman: Phonology and morphology</i>. 2nd dyllans. Manchester: Manchester University Press.</p>
<p class="bibentry">Smith, J. C. (2002). <i>Middle French: When? What? Why? Language Sciences</i> 24, 423–445.</p>
<p class="bibentry">Taylor, J. (2001). <i>The poetry of François Villon: Text and context</i>. Cambridge: Cambridge University Press.</p>
<p class="bibentry">Thiry, C. (1991). <i>Villon : Poésies complètes</i>. Paris: Le Livre de Poche.</p>
</div>
