<p class="bibentry">Baxter, R. N. (2009). New technologies and terminological pressure in lesser-used languages: The Breton Wikipedia,
  from terminology consumer to potential terminology provider. <i>Language Problems and Language Planning</i>
  33 (1), 60–80.</p>
<p class="bibentry">Broudic, F. (2013). Langue bretonne&nbsp;: Un siècle de mutations. <i>International Journal of the Sociology of Language</i>
  223, 7–21.</p>
<p class="bibentry">Hornsby, M. (2015). <i>Revitalising minority languages: New speakers of Breton, Yiddish and Lemko.</i> Basingstoke:
  Palgrave Macmillan.</p>
<p class="bibentry">Jones, M. C. (1995). At what price language maintenance? Standardisation in modern Breton. <i>French Studies</i> 49 (4),
  424–438.</p>
<p class="bibentry en">Smith-Christmas, C., Ó Murchadha, N. P., Hornsby, M., and Moriarty, M., eds. (2018). <i>New speakers of minority
    languages: Linguistic ideologies and practices.</i> London: Palgrave Macmillan.</p>
<p class="bibentry kw">Smith-Christmas, C., Ó Murchadha, N. P., Hornsby, M., ha Moriarty, M., pednscriforyon (2018). <i>New speakers of minority
    languages: Linguistic ideologies and practices.</i> Loundres: Palgrave Macmillan.</p>
<p class="bibentry">Timm, L. A. (2001). Transforming Breton: A case study in multiply conflicting language ideologies. <i>Texas Linguistic Forum</i> 44 (2),
  447–461.</p>
