<!DOCTYPE html>
<html>
    <head>
        <title>Merryn Davies-Deacon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/css/english.css" title="default" />
        <link rel="alternate stylesheet" type="text/css" href="/css/cornish.css" title="alternate" />
        <script type="text/javascript" src="/scripts/styleswitcher.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Raleway:400,400i,800" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#808080",
      "text": "#ffffff"
    },
    "button": {
      "background": "#000000",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "position": "bottom-right",
  "content": {
    "message": "This site makes minimal use of cookies.",
    "dismiss": "Dismiss",
    "link": "Learn more/decline",
    "href": "/site/cookies",
    "target": "_self",
  }
})});
</script>
    </head>
    <body>
        {% include nav.html %}
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        {% include footer.html %}
    </body>
</html>
