<!DOCTYPE html>
<html>
    <head>
        <title>Merryn Davies-Deacon</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/css/english.css" title="default" />
        <link rel="alternate stylesheet" type="text/css" href="/css/cornish.css" title="alternate" />
        <script type="text/javascript" src="/scripts/styleswitcher.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Raleway:400,400i,800" rel="stylesheet">
    </head>
    <body>
        {% include nav.html %}
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        {% include footer.html %}
    </body>
</html>
