---
layout: default
---
<div class="en">
<h1>{% if page.titleeng == "pass" %}
      {{ page.title }}
    {% else %}
      {{ page.titleeng }}
    {% endif %}</h1>
<p class="meta"><i>{{ page.date | date: "%-d %B %Y" }}</i></p>

<div class="post">
  {{ content }}
</div>
</div>

<div class="kw">
<h1>{% if page.titlecorn == "pass" %}
      {{ page.title }}
    {% else %}
      {{ page.titlecorn }}
    {% endif %}</h1>
<p class="meta"><i>{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}mis Genver
  {% when '2' %}mis Whevrel
  {% when '3' %}mis Meur’
  {% when '4' %}mis Ebrel
  {% when '5' %}mis Me
  {% when '6' %}mis Efen
  {% when '7' %}mis Gorefen
  {% when '8' %}mis Est
  {% when '9' %}mis Gwyngala
  {% when '10' %}mis Hedra
  {% when '11' %}mis Du
  {% when '12' %}mis Kevardhu
{% endcase %}
{{ page.date | date: "%Y" }}</i></p>

<div class="post">
  {{ content }}
</div>
</div>
